
<ion-tabs >
  

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button >
      <!-- <ion-icon name="menu"></ion-icon> -->
      
        <ion-menu-button menu="first" color="secondary" > </ion-menu-button>
      
    </ion-tab-button>

    
    <ion-tab-button tab="asignaturas" >
      <ion-icon name="book-outline"  color="secondary"></ion-icon>
      <ion-label  >Asignaturas</ion-label>
      
    </ion-tab-button>

  

    <ion-tab-button tab="scanner">
      <ion-icon name="qr-code-outline"  color="secondary"></ion-icon>
      <ion-label>Escanear QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
