<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="secondary">
      <ion-back-button defaultHref="home" text="Volver" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Registrapp
    </ion-title>
    <ion-button slot="end" fill="clear" color="dark">
      <ion-icon slot="icon-only" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center">
    <ion-title class="ion-padding-top" color="primary">{{asignatura}}</ion-title>
    <ion-text color="secondary">
      <p color="secondary">{{ida}}</p>
      
    </ion-text>    
  </div>
  <ion-title style="text-align: center;">Asistencia</ion-title>
  
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-label slot="end">Hora</ion-label>
  </ion-item>
  <ion-list *ngFor="let item of asistencias" >
    <ion-item lines="none">
      <ion-label>{{item.fechaHora.toDate() |date:'dd MMM YY'}}</ion-label>
      <ion-label slot="end">{{item.fechaHora.toDate() |date:'hh:mm a'}}</ion-label>
    </ion-item>
    
    </ion-list>
  </ion-content>
<app-duocfooter></app-duocfooter>










